<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diagonales sin barreras</title>
        <link rel="icon" type="image/png" href="../image/favicon.png"/> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="../styles/contact/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/contact/contact.css">
    </head>
<body>
    <header>
    <section class="titulo">
       <img src="../image/logo.png" class="ancho" alt="logo"> 
       <h1>DIAGONALES SIN BARRERAS 
       </h1>
       </section>
    <nav class="barranav">
        <a href="../index.html"class="hijonav"> Inicio</a>
        <a href="./quienessomos.html" class="hijonav"> Quiénes somos</a>
        <a href="./marcolegal.html" class="hijonav"> Marco legal</a>
        <a href="./experiencias.html" class="hijonav"> Experiencias</a>
        <a href="./contact.html" class="hijonav"> Contacto</a>
    </nav>
   </header>  

<main>
<h2>Comuníquese con nosotros</h2>

<p class="pHorario">Estamos a su disposición de lunes a viernes de 8 a 17 hs</p>


<form action="" id="comunicacion">
    <label for="name">Nombre</label> 
    <input type="text" name="name" id="name">

    <label for="surname">Apellido</label> 
    <input type="text" name="surname" id="surname">

    <label for="email">Correo electrónico</label> 
    <input type="text" name="email" id="email">

    <label for="phone">Teléfono</label> 
    <input type="number" name="phone" id="phone">

    <!-- <label for="message">Ingrese su mensaje</label> 
    <input type="text" name="message" id="message">
 -->
    <label>Ingrese su mensaje:</label>

    <textarea name="textarea" rows="10" cols="50" id="cuadroTexto"></textarea>

    <button type="submit">Enviar</button>

</form>

</main>

</body>


<footer class="pie">
    <span class="footer">&copy;DsB</span> <p class="footer">Políticas de privacidad</p> 
    <p class="footer">Calle 10 n° 782, La Plata, Buenos Aires, Argentina</p>
 </footer>
 <script src="../js/contacto.js"></script>
</html>