<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Diagonales sin barreras</title>
   <link rel="icon"type="image/png" href="../image/favicon.png"/>
   <link rel="stylesheet" href="../styles/style.css">
   <link rel="stylesheet" href="../styles/experiencias.css">
</head>
<body>
    <header>   <section class="titulo">
        <img src="../image/logo.png" class="ancho" alt="logo">
        <h1>DIAGONALES SIN BARRERAS</h1>
        </section>
     <nav class="barranav">
        <a href="../index.html"class="hijonav"> Inicio</a>
        <a href="./quienessomos.html" class="hijonav"> Quiénes somos</a>
        <a href="./marcolegal.html" class="hijonav"> Marco legal</a>
        <a href="./experiencias.html" class="hijonav"> Experiencias</a>
        <a href="./contact.html" class="hijonav"> Contacto</a>
     </nav></header>

     <main class="mainflexbox">
    
    <Section class="experiencias">
      <h2>Compartimos experiencias</h2>

   <p>Como organización además de brindar asesoramiento legal a personas con discapacidad motora también entendemos que es importante generar espacios de encuentro donde los participantes puedan desarrollar diferentes actividades que les pueden servir como herramienta y también les permitan crear grupos de pertenencia 
     Estos son los relatos de quienes participan de nuestros talleres semanales de carpinteria, teatro y oratoria </p>
  
</Section>
 
      <section class="experiencias">

     <div class="grid-containerexperiencias">

     <div class="Gridhijo"> 
         <img src="../image/MariaExperiencia.jpg" class="maria" alt="testimonio de María">
          <h3>María, 35 años:</h3> 
      <p>"Asistir al taller de teatro ha sido una experiencia transformadora para mí. Antes me sentía limitada por mi discapacidad, pero aquí he descubierto un espacio donde puedo expresarme libremente. La confianza que he ganado al subir al escenario e interpretar diferentes roles ha trascendido las barreras físicas. Ahora me siento empoderada y capaz de enfrentar cualquier desafío."
      </p> 
      </div>

    <div class="Gridhijo">
      <img src="../image/JuanExperiencia.jpg" class="juan" alt="Testimonio de Juan">
      <h3>Juan, 28 años:</h3>
      <p>"La carpintería siempre fue mi pasión, pero nunca pensé que podría dedicarme a ello debido a mi discapacidad. Sin embargo, desde que me uní al taller de carpintería de la organización, he aprendido habilidades increíbles y he creado piezas hermosas. La adaptación de las herramientas y la paciencia de los instructores me han permitido descubrir un nuevo mundo de posibilidades. Ahora veo mi discapacidad no como una limitación, sino como un impulso para ser más creativo."
      </p>
     </div>
     
        <div class="Gridhijo">
         <img src="../image/AnaExperiencia.jpg" class="Ana" alt="Testimonio de Ana">
      
      <h3>Ana, 42 años:</h3>
      <p>"La oratoria siempre me pareció un desafío inalcanzable. Mi discapacidad me había hecho sentir insegura al hablar en público. Pero gracias al taller de oratoria de esta organización, he ganado confianza y he desarrollado habilidades para comunicarme de manera efectiva. Aprendí a utilizar mi voz y mi cuerpo para transmitir mis ideas con claridad y seguridad. Ahora puedo expresarme con más facilidad en diferentes situaciones, tanto personales como profesionales."
      </p>
      </div>

      <div class="Gridhijo" >
           <img src="../image/PedroExperiencia.jpg" class="Pedro" alt="Testimonio de Pedro">
      
      <h3>Pedro, 50 años:</h3>
      <p>"Asistir al taller de teatro de la organización ha sido una experiencia liberadora para mí. Durante mucho tiempo, mi discapacidad motora me hizo sentir invisible e incomprendido. Pero en el escenario, encontré una forma de ser visto y valorado por quienes soy. El teatro me ha brindado la oportunidad de explorar diferentes aspectos de mi personalidad y conectar con otras personas de una manera única. Cada ensayo y cada actuación
      </p>
     
   </div>
</div>


</section>
  
   
<section class="experiencias">
<p id="parrafodefinal">Si te interesa o sabes de alguien que le puedan llegar a interesar nuestros talleres no dudes escribirnos para más información</p>
 <button> <a href="contact.html"> Contacto</a>  </button> </section>

</main>

   
    <footer class="pie">
        <span class="footer">&copy;DsB</span> <p class="footer">Políticas de privacidad</p> 
        <p class="footer">Calle 10 n° 782, La Plata, Buenos Aires, Argentina.</p>
     </footer>
   
</body>


</html>