<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagonales sin barreras</title>
    <link rel="icon" type="image/png" href="../image/favicon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/marcolegal.css">
    
</head>
<body>
   <header>
   <div class="titulo">
         <img src="../image/logo.png" class="ancho" alt="logo"> 
         <h1>DIAGONALES SIN BARRERAS</h1>
         <div>Inicio de sesión
            <form action="form" class="formulario" id="formLogin">
               <fieldset>
                  <label for="email">Correo electrónico</label>
                  <input type="email" name="email" id="emailLogin" class="input">
               </fieldset>
               <fieldset>
                  <label for="contrasena">Contraseña</label>
                  <input type="password" name="contrasena" id="contrasenaLogin" class="input">
               </fieldset>
               <button type="submit">Enviar</button>
               <button type="reset">Cancelar</button>
               <div>
                  <ul id="errores"></ul>
               </div>
            </form>
         </div>
      </div>
      <p id="saludoDeBienvenida"></p>
   <nav class="barranav">
      <a href="../index.html" class="hijonav"> Inicio</a>
      <a href="./quienessomos.html" class="hijonav"> Quiénes somos</a>
      <a href="./marcolegal.html" class="hijonav"> Marco legal</a>
      <a href="./experiencias.html" class="hijonav"> Experiencias</a>
      <a href="./contact.html" class="hijonav"> Contacto</a>
      <a href="./registro.html" class="hijonav"> Registro</a>
   </nav>
   </header>
   <main>
      <h2 class="Asesoria">Asesoria Legal</h2>
    <div style="text-align: center;"><img id= juez src="../image/hammer-719066_1280.jpg" alt="martillo de juez">
    </div>
    <section class="legal">
   En nuestra misión de promover la inclusión y la igualdad de oportunidades para todas las personas, consideramos fundamental ofrecer asesoramiento legal gratuito a aquellos que enfrentan barreras debido a su discapacidad motora. Creemos firmemente que el acceso a la justicia es un derecho fundamental, y por ello nos esforzamos por brindar a cada individuo las herramientas necesarias para defender sus derechos.
   Entendemos que la falta de información y recursos legales adecuados puede ser una barrera significativa para las personas con discapacidad, limitando su capacidad para abogar por sí mismas. Es por eso que estamos comprometidos a proporcionar orientación legal comprensiva y accesible, adaptada a las necesidades específicas de cada individuo.
   Creemos en un mundo donde todas las personas, independientemente de sus capacidades físicas, puedan vivir con dignidad y plenitud. Por ello, estamos aquí para apoyar a nuestra comunidad, ofreciendo asesoramiento legal especializado y empoderando a cada persona con discapacidad para que pueda ejercer plenamente sus derechos en nuestra ciudad y más allá.
</section>

    <h3 class="leyes"> 
      <p>Aquí podrás acceder a las leyes que protegen y amparan tus derechos</p>
      <ul>
      <li><a href="https://www.argentina.gob.ar/andis/nueva-ley" target="_blank"> Nueva ley de Discapacidad</a></li>
      <li><a href="https://www.argentina.gob.ar/normativa/nacional/ley-24314-713/texto" target="_blank"> Ley de Proteccion Integral para personas con discapacidad</a></li>
      </ul>
    </h3>

    <section class="leyes"> Solicitanos un listado de profesionales amigos de Sin barreras<div style="text-align: center;">
    <img src="../image/attorney-7236482_1280.jpg" id="juez" alt="abogada"> <meta name="viewport" content="width=device-width, initial-scale=1.0"/>   
</div><button><a href="./contact.html" id="botonContacto">Contactanos</a></button>
</section>
   </main>
   <footer class="pie">
      <span class="footer">&copy;DsB</span> <p class="footer">Políticas de privacidad</p> 
      <p class="footer">Calle 10 n° 782, La Plata, Buenos Aires, Argentina.</p>
   </footer>
</body>
</html>