.bigicon{
    font-size: 30px;
    color: #36A0FF;
}

.botonsubmit {
    size: 30px;
}
 section.container.margin_top {
    margin-top: 2rem;
  }
 legend.text-center.display-6 {
    margin-bottom: 2rem;
 }

 button.botonsubmit{
    margin-top: 1rem;
}
.redes-container{
    display: flex;
    flex-direction: horizontal;
    height: 15vh;
    align-items: right;
    justify-content: right;
    font-size: 3rem;
    margin-bottom: 3%;  
}

li{
    list-style: none;
}

.redes-container ul li{
    display: inline-block;
    margin: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
 }

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    font-size: 20px;                     
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.20);
}


/* De aca para abajo lo que agrego para el formulario y el main*/


h2 {
    text-align: center;
    margin: 5vh;
}

.pHorario {
    text-align: center;
    margin: 1vh
}

#comunicacion {
    display: flex;
    flex-direction: column;
    margin: 5vh;
}

label {
    justify-content: center;
    padding: 2vh 2vh 0vh 1vh;
}

input {
    margin: 1vh;
    border: 2px solid rgb(41, 40, 40);
    border-radius: 2px;
    text-align: left;
}

/* #message {
    font:1.4em/1.5em;
    padding: 0 10px;
    width: 60vw;
    height: 20vh;
} */

#cuadroTexto {
    align-items: center;
    justify-items: center;
    border: 2px solid rgb(41, 40, 40);
}

@media screen and (min-width: 1100px) {
    #comunicacion {
        display: flex;
        flex-direction: column;
        margin: 5vh 50vh;
    
    }
    
}