@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
}

body {background-color: white;
    font-family: montserrat;
}


.titulo{
    display:flex;
    flex-direction: column;
    color: rgb(9, 113, 161); 
    background-color: rgb(234, 241, 241);
    border-radius: 40px;
    margin: 5px;
    margin-top: 5px;
}
h1 {
    flex-direction: column;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

h2 {display: flex;
    flex-direction: row;
    color: rgb(9, 113, 161); 
    background-color: rgb(234, 241, 241);
    border-radius: 5px;
    margin: 5px;
    margin-top: 5px;

}

.formulario {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    font-size: 15px;
}

.ancho {
    width: 50px;
    height: 50px;
}

.barranav{
    display: flex;
    flex-direction: column;
    background-color:rgb(9, 113, 161);
}

.hijonav{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    border-radius: 20px;
    background-color: rgb(9, 113, 161);
    transition: background-color 0.5s;
}

a.hijonav {
    color: #ffffff;
}

.hijonav 
    
    a:link{ text-decoration:none;}
    a:visited{ color:#ffffff; }
    a:hover{ color: rgb(147, 213, 252); transition: background-color 0.5s;}
    a:active{ background-color:rgb(10, 141, 141);
    
}

.pie {
        background-color: rgb(9, 113, 161);
        padding: 5px;
        display: flex;
        justify-content: space-evenly
}
    
.footer {
    color: white;
    font-size: medium;
    text-align: center;
    margin: 10px
}



.bigicon{
    font-size: 30px;
    color: #36A0FF;
}

.botonsubmit {
    size: 30px;
}
 section.container.margin_top {
    margin-top: 2rem;
  }
 legend.text-center.display-6 {
    margin-bottom: 2rem;
 }

 button.botonsubmit{
    margin-top: 1rem;
}
.redes-container{
    display: flex;
    flex-direction: horizontal;
    height: 15vh;
    align-items: right;
    justify-content: right;
    font-size: 3rem;
    margin-bottom: 3%;  
}

li{
    list-style: none;
}

.redes-container ul li{
    display: inline-block;
    margin: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
 }

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    font-size: 20px;                     
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.20);
}


/* De aca para abajo lo que agrego para el formulario y el main*/


h2 {
    text-align: center;
    margin: 5vh;
}

.pHorario {
    text-align: center;
    margin: 1vh
}

#comunicacionContacto {
    display: flex;
    flex-direction: column;
    margin: 5vh;
}

label {
    justify-content: center;
    padding: 2vh 2vh 0vh 1vh;
}

input {
    margin: 1vh;
    border: 2px solid rgb(41, 40, 40);
    border-radius: 2px;
    text-align: left;
}

/* #message {
    font:1.4em/1.5em;
    padding: 0 10px;
    width: 60vw;
    height: 20vh;
} */

#cuadroTexto {
    align-items: center;
    justify-items: center;
    border: 2px solid rgb(41, 40, 40);
}
#comunicacion {
        display: flex;
        flex-direction: column;
        margin: 5vh 50vh;
    
    }
    
    @media screen and (min-width: 768px){
        body{
            font-size: large;
        }
    
        h1 {
            font-size: 40px;
            padding-left: 5px;
            padding-top: 5px;
            padding-right: 5px;
        }
        .titulo{
            display:flex;
            flex-direction: row;
            color: rgb(9, 113, 161); 
            background-color: rgb(234, 241, 241);
            border-radius: 40px;
            margin: 5px;
            margin-top: 5px;
        
        }
        .ancho {
            width: 120px;
            height: 120px;
        }
    
        .mainindex {
            flex-direction: row-reverse;
        }
    
        .hijomain {
            flex: 50%;
        }
    
        .hijonav{
            flex-direction: column;
        }
    
        .bullets {
            margin-left: 80px;
        }
    
        .footer {
            color: white;
            font-size: large;
            text-align: center;
            margin: 10px
        }

        .barranav{
            flex-direction: row;
            justify-content: space-around;
        }
        body{     
            font-size: x-large;
        }
    
        
    
        .bullets {
            margin-left: 80px;
        }
    }
    
        
    @media screen and (min-width: 1100px){
        body{
            background-color: rgb(255, 255, 255) ;
            font-size: x-large;
        }
        .barranav{
            flex-direction: row;
            justify-content: space-around;
        }
    
        h1 {
            font-size: 50px;
            padding-left: 5px;
            padding-top: 5px;
            padding-right: 5px;
        }
        .titulo{
            display:flex;
            flex-direction: row;
            color: rgb(9, 113, 161); 
            background-color: rgb(234, 241, 241);
            border-radius: 40px;
            margin: 5px;
            margin-top: 5px;
        }
    
        .ancho {
            width: 130px;
            height: 130px;
        }
    
        .bullets {
            margin-left: 80px;
        }
    
        .footer {
            color: white;
            font-size: x-large;
            text-align: center;
            margin: 10px
        }
       
        .barranav{
            flex-direction: row;
            justify-content: space-around;
        }
        .mainindex {
                flex-direction: row-reverse;
            }
    
            .hijomain {
                flex: 50%;
            }
    
            .hijonav{
                flex-direction: row;
            }
        .bullets {
            margin-left: 80px;
        }
    }