@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');


body {background-color: beige;
    font-family: montserrat;
}


.hijonav 
    a:hover{ background-color: lime;}
    a:link{ text-decoration:none; color:rgb(20, 14, 14); }
    a:visited{ color:#ad47c2; }
    a:active{ background-color:yellow; color:black; }

    .maria {width: 90px;
        height: auto;}
    
    .juan {width: 90px;
            height: auto;}
    
    .Ana {width: 90px;
        height: auto;}
    
    .Pedro {width: 90px;
            height: auto;}


            
.grid-containerexperiencias{
display: grid;
justify-content: start;
grid-template-rows: 3fr 3fr 3fr 3fr;
text-align: start; 
padding: 50px;
border: #4791c2;
text-align: start;
}

.Gridhijo
{justify-items: center ;
align-items: end;
height: 90px;}


.pie {
    background-color: bisque;
    padding: 5px;
    border: 1px solid brown;
    display: flex;
    justify-content: space-evenly
}

.footer {
    font-size: medium;
    text-align: center;
    margin: 10px
}


