@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');


.mainindex {
    border: 1px solid rgb(70, 28, 253);
    padding: 4px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hijomain{
    border: rgb(184, 221, 17) solid 3px;
    margin: 10px;
    padding: 1rem;
    justify-items: center;
}

h2 {
    color: rgb(52, 247, 250);
    text-decoration: none;
    margin-top: 15px;
}

.noticias {
    margin-bottom: 15px;
    margin-top: 8px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
}


.bullets {
    margin-left: 20px;
    padding: 5px;
}

.ul {
    list-style-type: square;
}

h2 { 
    color: rgb(9, 113, 161); 
    background-color: rgb(202, 202, 202);
    padding-left: 1rem;
    font-family: ubuntu;
}

.seccionnoticias {
    margin-top: 8px;
    border: 5px solid rgb(3, 214, 116);
}

.seccionnovedades {
    margin-top: 8px; 
    border: 5px solid rgb(3, 214, 116);

}

#titulonovedades {
    color: rgb(14, 111, 141);
    background-color: rgb(182, 182, 182);
    padding-left: 1rem;
}

@media screen and (max-width:767px) {
    body{
        background-color: rgb(255, 255, 254) ;
    }
}

@media screen and (min-width: 768px){
    body{
        background-color: rgb(255, 255, 255) ;
        font-size: x-large;
    }

    .mainindex {
        flex-direction: row-reverse;
    }

    .hijomain {
        flex: 50%;
    }

    .hijonav{
        flex-direction: column;
    }

    .bullets {
        margin-left: 80px;
    }
}

    
@media screen and (min-width: 1100px){
    body{
        background-color: rgb(255, 255, 255) ;
    }
    .barranav{
        flex-direction: row;
        justify-content: space-around;
    }

    .bullets {
        margin-left: 80px;
    }
}


#padrevideo{
    width:350px;
    margin:auto;
}       

.contenedorvideo{
    flex:center;
    width:100%;
    padding-top:56.25%; 
    position: relative;
}

.videoespacios{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}

