.sillaenescalera {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

#parrafoqs{
    margin: 20px;
    padding: 5px;
}
  
#Escaleras{
    width: 340px;
    margin: 2px;
    border: 3px solid rgb(49, 48, 48);
}

