.sillaenescalera {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

#parrafoqs{
    margin: 20px;
    padding: 5px;
}
  
#Escaleras{
    width: 340px;
    margin: 2px;
    border: 3px solid rgb(49, 48, 48);
}

@media screen and (min-width: 768px){
    body{
        background-color: rgb(255, 255, 255) ;
        font-size: x-large;
    }

    .mainindex {
        flex-direction: row-reverse;
    }

    .hijomain {
        flex: 50%;
    }

    .hijonav{
        flex-direction: column;
    }

    .bullets {
        margin-left: 80px;
    }
}

    
@media screen and (min-width: 1100px){
    body{
        background-color: rgb(255, 255, 255) ;
    }
    .barranav{
        flex-direction: row;
        justify-content: space-around;
    }

    .bullets {
        margin-left: 80px;
    }
}
