
#tituloqs {
    padding: 5px;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-bottom: 30px;
    margin-top: 35px;
}

.pHorario {
    margin:10px;
    font-size: 29px;
}
#comunicacion {
    background-color: rgba(110, 113, 114, 0.116);
    margin: 2%;
    margin-bottom: 30px;
    }
.labelRegistro{
    padding-top: 10px;
}

#cEnviar{
    width:80px;
    height:19px;
}

#cCancelar{
    width:80px;
    height:19px;
}