@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color: white;
    font-family: montserrat;
}

.titulo{
    display: flex;
    flex-direction: row;
    color: rgb(9, 113, 161); 
    background-color: rgb(234, 241, 241);
    border-radius: 40px;
    margin: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 60px;
    padding: 15px;
}

.ancho {
    width: 90px;
}

.barranav{
    display: flex;
    flex-direction: column;
    background-color:rgb(9, 113, 161);
}

.hijonav{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
    padding: 2rem 4rem 2rem 4rem;
    border-radius: 20px;
    background-color: rgb(9, 113, 161);
}


.hijonav 
    a:hover{ background-color: lime;}
    a:link{ text-decoration:none; color:rgb(20, 14, 14); }
    a:visited{ color:#aafce1; }
    a:active{ background-color:yellow; color:black;
}

.pie {
        background-color: bisque;
        padding: 5px;
        border: 1px solid brown;
        display: flex;
        justify-content: space-evenly
}
    
.footer {
        font-size: medium;
        text-align: center;
        margin: 10px
}



/*Lo puse acá porque en mi apartado de CSS no me lo tomaba nose porqué*/
.maria {width: 200px;
    height: auto;}

.juan {width: 200px;
        height: auto;}

.Ana {width: 200px;
    height: auto;}

.Pedro {width: 200px;
        height: auto;}

        